@font-face {
    font-family: SF;
    src:url("../fonts/SFCompactDisplay-Regular.otf")
}

/* Init */
:root {
    /* Color */
    --cyan: #5ac8fa;
    --blue: #007bff;
    --yellow:#ffcc00;
    --green: #4cd964;
    --orange: #ff9500;
    --red: #ff3b30;
    --pink: #ff2d55;
    --grey: #a1a2a4;
    --white: #fff;
    --light: #f9fafe;
    --dark:#444;
    --component: #eaebed;
    --component-border: #f9f9f9;
    --white-component-border: #dedfe2;
    --fade: #f0f0f8;
    --setting-theme: #efeff4;
    --code-background: #212529;
    --code-content: #e3e3e3;
}

body.is-app *, body.is-app html {
    box-sizing:border-box;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none !important;
    -webkit-text-size-adjust:none; 
    -webkit-overflow-scrolling: touch;
}

input, textarea {
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important; 
}

* {
    font-size:var(--content);
    font-family:SF,-apple-system, BlinkMacSystemFont, Arial, Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--content);
    box-sizing: border-box;
}

/* Typography */
body {
    margin:0;
    width:100%;
    background-color:var(--white);
}

::selection, ::-webkit-selection {
    background-color: rgba(0,123,255,0.25);
}

h1,h2,h3,h4,h5,h6,p,b,i,u,span,div {cursor:default;}

h1 {font-size:36px;}
h2 {font-size:32px;}
h3 {font-size:28px;}
h4 {font-size:24px;}
h5 {font-size:21px;}
h6 {font-size:18px;}
p {font-size:16px;}
a,span,b,i,u,div {font-size:16px;font-size:inherit;}

h1,h2,h3,h4,h5,h6 {color:var(--dark);}

p {color:var(--grey);}

blockquote {
    width:100%;
    display:block;
    padding:15px;
}

blockquote > h1,
blockquote > h2,
blockquote > h3,
blockquote > h4,
blockquote > h5,
blockquote > h6 {font-size:40px;font-weight: 600;margin-bottom:5px;}
blockquote > p {font-size:18px;color:var(--dark);font-weight: 400;margin:15px 0;}
blockquote > footer {font-size:18px;color:var(--grey);margin-top:20px;}
blockquote > footer::before {content:"\2014 \00A0";margin-left:10px;}

pre {
    width:100%;
    padding:15px;
    margin:30px 0;
    display:block;
    background-color:var(--setting-theme);
    border-radius:5px;
    font-size:16px;
    color:var(--grey);
    line-height: 5px;
}

pre > p {margin:0;}
small {font-size:14px;color:var(--grey);font-weight: 400;}

pre > small::before,
pre > h1 > small::before,
pre > h2 > small::before,
pre > h3 > small::before,
pre > h4 > small::before,
pre > h5 > small::before,
pre > h6 > small::before,
pre > p > small::before {content:"\2014 \00A0";margin-left:10px;}

pre > h1,
pre > h2,
pre > h3 {line-height: 28px;margin:0;padding:0;}
pre > h4,
pre > h5,
pre > h6,
pre > p {margin:0;padding:0;line-height:22px;}

code {
    width:100%;
    padding:15px;
    margin:30px 0;
    display:block;
    border-radius:5px;
    background-color:var(--code-background);
}

code > p {margin:0 !important;}

code,
code > h1,
code > h2,
code > h3,
code > h6,
code > h4,
code > h5,
code > p {color:var(--code-content);}

code > h1,
code > h2,
code > h3 {line-height: 28px;margin:0;padding:0;}
code > h4,
code > h5,
code > h6,
code > p {margin:0;padding:0;line-height:22px;}

code > small::before,
code > h1 > small::before,
code > h2 > small::before,
code > h3 > small::before,
code > h4 > small::before,
code > h5 > small::before,
code > h6 > small::before,
code > p > small::before {content:"\2014 \00A0";margin-left:10px;}

/* Component */

/* tab-bar */
.tab-bar {
    width:100%;
    height:56px;
    padding:0 5px;

    position:fixed;
    z-index:100;
    left:0;
    bottom:0;

    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;

    color:var(--grey);
    background-color: rgba(252,252,252,0.95);
    border-top:1px solid var(--white-component-border);
}

.tab-bar > div {
    height:48px;
    margin:0;
    padding:5px 0 0 0;
    font-size:14px;

    display:flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    align-items: center;

    color:var(--grey);
}

.tab-bar > div > .icon {
    font-size:25px;
    width:100%;
    height:25px;

    display:block;
    text-align: center;

    color:var(--grey);
}

div.active > .icon {
    color:var(--blue);
    fill:var(--blue);
}

div.active {
    color:var(--blue);
}

/* Navbar */
.navbar {
    width:100%;
    height:44px;
    font-size:17px;
    font-weight: 600;
    padding:0 15px;

    position:fixed;
    z-index:100;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    top:0;
    left:0;

    background-color:rgba(255,255,255,0.95);
    border-bottom:1px solid var(--white-component-border);
}

.navbar > .left {
    position:fixed;
    top:0;
    left:15px;

    color:var(--blue);
}

.navbar > .left > a, .navbar > .right > a {
    text-decoration: none;
}

.navbar > .left.chevron::before {
    width:11px;
    height: 11px;
    margin-top:4px;

    position: relative;
    content: '';
    vertical-align: top;
    color:var(--blue);

    display: inline-block;
    transform: rotate(225deg);

	border-style: solid;
	border-width: 2px 2px 0 0;
}

.navbar > .right {
    position:fixed;
    top:0;
    right:15px;

    color:var(--blue);
}

.navbar > .left > a, .navbar > .right > a {
    display:inline-block;
}

.navbar > .left, .navbar > .right {
    padding-top:13px;
}

/* container */
.container {
    width:100%;
    height:auto;
    padding:15px;
}

.container.has-navbar { padding-top:49px; }
.container.has-tab-bar { padding-bottom:61px; }

/* Search bar */
input[type="text"].search-bar {
    width:calc(100%);
    padding:6px 15px;
    font-size:16px;
    margin:10px 0;
    font-weight: 600;

    display:block;
    border-radius:5px;

    appearance: none;
    -webkit-appearance:none;

    outline:none;
    border:0;
    color:var(--dark);
    background-color:var(--component);
}

input[type="text"].search-bar::placeholder {
    color:var(--grey);
}

/* List */
.list {
    width:100%;
    padding:0 0 0 10px;
    margin:25px 0;

    display:block;

    background-color:var(--white);
    color:var(--dark);
}

.list > div {
    padding:9px 10px 9px 0;
    font-size:16px;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    overflow:hidden;

    font-weight: 600;
    border-bottom:1px solid var(--white-component-border);
    color: var(--dark);
}

.list > div:last-child { border-bottom:0; }

.list > div > div {
    font-weight: 400;
    margin-right:5px;
    color:var(--grey);
}

.list > div > div.chevron:after {
    width: 7px;
    height: 7px;
    margin-top:7px;

    position: relative;
    content: '';
    vertical-align: top;
    color:var(--grey);

    display: inline-block;
    transform: rotate(45deg);

	border-style: solid;
	border-width: 1.5px 1.5px 0 0;
}

.list > div.has-toggler {
    padding:7px 10px 7px 0;
}

.list > div > div.toggler {
    width:40px;
    height:25px;
    font-size:0;
    margin-right:0;

    border-radius:25px;

    background-color:#fefefe;
    color:transparent;
}

.list > div > div.toggler.active {
    border:1px solid var(--green);
    background-color:var(--green);    
}

.list > div > div.toggler > div {
    width:23px;
    height:23px;

    border-radius:12px;
    box-shadow:0 3px 3px rgba(0,0,0,0.2);

    border:1px solid var(--white-component-border);
    background-color: var(--white);
}

.list > div > div.toggler.active > div {
    margin-left:16px;
}

.list > div > div.check {
    display:inline-flex; 
}

.list > div > div.check::after {
    width:5px;
    height:10px;
    margin-left:10px;
    margin-top:2px;

    display:block;

    content:"";
    transform:rotate(45deg);

    border:solid var(--blue);
    border-width: 0 2px 2px 0;
}

.list > .header {
    width:100%;
    padding:0;
    font-size:14px;

    display:block;
    text-align: left;
    font-weight: 400;

    border-bottom:0;
    color:var(--grey);
}

.list > h1,
.list > h2,
.list > h3,
.list > h4,
.list > h5,
.list > h6 {font-size:inherit;}

.list.primary > div, 
.list.primary > div > h1,
.list.primary > div > h2,
.list.primary > div > h3,
.list.primary > div > h4,
.list.primary > div > h5,
.list.primary > div > h6 {
    color:var(--blue);
}

/* Page setup */
.header-block {
    padding:15px 0;
    margin:25px 0;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-block.large {
    margin:75px 0;
}

.header-block.title {
    padding:100px 7.5%;
}

.header-block.right {text-align: right;}
.header-block.center {text-align:center;}

.header-block > h1,
.header-block > h2,
.header-block > h3,
.header-block > h4,
.header-block > h5,
.header-block > h6,
.header-block > p, 
.header-block > div > h1,
.header-block > div > h2,
.header-block > div > h3,
.header-block > div > h4,
.header-block > div > h5,
.header-block > div > h6,
.header-block > div > p {margin:0;}

.header-block > h1, .header-block > div > h1 {font-size:52px;}
.header-block > h2, .header-block > div > h2 {font-size:48px;}
.header-block > h3, .header-block > div > h3 {font-size:40px;}
.header-block > h4, .header-block > div > h4 {font-size:32px;}
.header-block > h5, .header-block > div > h5 {font-size:28px;}
.header-block > h6, .header-block > div > h6 {font-size:24px;}
.header-block > p , .header-block > div > p  {font-size:18px;margin-bottom:30px;}

.button {
    margin:10px;
    padding: 7px 30px;
    font-size:18px;

    display:inline-block;
    border-radius:5px;
    text-decoration: none;
    cursor:pointer;

    color:var(--blue);
    background-color: #f0f0f8;
}

.button-group {
    width:100%;
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;    
}

.button-group.left {justify-content: flex-start;}
.button-group.left > .button:first-child {margin-left:0;}

.button-group.center {justify-content: center !important;}

.button-group.right {justify-content: flex-start;}
.button-group.right > .button:first-child {margin-right:0;}

.button-group.small {padding:0 15%;}

.button.white {
    background-color:var(--white);
}

.button.primary {
    background-color:var(--blue);
    color:var(--white);
}

/* Section */

section {
    width:100%;
    padding:25px 0;

    border-radius:5px;

    background-color:var(--fade);
}

/* Setting */
.setting {
    width:100%;
    padding:30px 0;

    display:block;
}

.setting > p {
    margin:10px 0 5px 0;
    padding-left:10px;
    font-size:14px;
    color:var(--grey);
}

.setting > div.list {
    width:100%;
    margin-top:0;
    padding-left:0;
    display:block;
    border-top:1px solid var(--white-component-border);
    border-bottom:1px solid var(--white-component-border)
}

.setting > div.list > div {
    padding-left:10px;
    padding-right:10px;
}

/* Page */
.page {
    width:100%;
    min-height:100vh;
    display:block;
    overflow:hidden;
    background-color:var(--white);
}

.page.setting {
    background-color:var(--setting-theme);
}

/* Grid */
.grid {
    width:100%;

    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.grid > div {
    flex: 1 1 auto;
}

/* line-divider */
div.line {
    width:100%;
    height:1px;
    margin:15px 0;

    display:block;
    background-color:var(--white-component-border);
}

/* ios-scrollbar */
.ios-scrollbar::-webkit-scrollbar {
    background:transparent;
    width:7px;
    height:7px;
}

.ios-scrollbar::-webkit-scrollbar-thumb {
    background-color:var(--grey);
    border-radius:10px;
}

/* Context */
.primary {color:var(--blue);font-weight:600;}
.secondary {color:var(--dark);font-weight:600;}
.content {color:var(--grey);font-weight: 400;}
.msg {color:var(--white-component-border);font-weight:400;}
.white {color:var(--white);font-weight: 400;}

.margin-none {
    margin-top:0;
    margin-bottom:0;
}

.margin-small {
    margin-top:8px;
    margin-bottom:8px;
}

.margin-medium {
    margin-top:20px;
    margin-bottom:20px;
}

.margin-large {
    margin-top:40px;
    margin-bottom:40px;
}

.margin-top-none {margin-top:0;}
.margin-top-small {margin-top:8px;}
.margin-top-medium {margin-top:20px;}
.margin-top-large {margin-top:40px;}

.margin-bottom-none {margin-bottom:0;}
.margin-bottom-small {margin-bottom:8px;}
.margin-bottom-medium {margin-bottom:20px;}
.margin-bottom-large {margin-bottom:40px;}

/* Media Query */
@media screen and (max-width:567.8px){
    .header-block > h1, .header-block > div > h1 {font-size:42px;}
    .header-block > h2, .header-block > div > h2 {font-size:36px;}
    .header-block > h3, .header-block > div > h3 {font-size:32px;}
    .header-block > h4, .header-block > div > h4 {font-size:28px;}
    .header-block > h5, .header-block > div > h5 {font-size:26px;}
    .header-block > h6, .header-block > div > h6 {font-size:24px;}
    .header-block > p , .header-block > div > p {font-size:16px;}
}

@media screen and (min-width:568px) and (max-width:768px){
    .container {
        padding-left:5%;
        padding-right:5%;
    }

    .tab-bar {
        height:44px;
    }

    .tab-bar > div {
        padding-top:0;
        flex-direction: row;
        font-size:18px;
    }

    .icon {
        display:flex !important;
        flex-direction: column;
        justify-content:space-around;
        font-size:18px !important;
        margin-right:5px;
    }

    .header-block.title {
        padding-left:10%;
        padding-right:10%;
    }
}

@media screen and (min-width:768.8px) and (max-width:991px){
    .container {
        padding-left:7.5%;
        padding-right:7.5%;
    }

    .tab-bar {
        height:44px;
    }

    .tab-bar > div {
        padding-top:0;
        flex-direction: row;
        font-size:18px;
    }

    .icon {
        display:flex !important;
        flex-direction: column;
        justify-content:space-around;
        font-size:18px !important;
        margin-right:5px;
    }

    .header-block.title {
        padding-left:12.5%;
        padding-right:12.5%;
    }
}

@media screen and (min-width:991.8px) and (max-width:1136px){
    .container {
        padding-left:10%;
        padding-right:10%;
    }

    .tab-bar {
        height:44px;
    }

    .tab-bar > div {
        padding-top:0;
        flex-direction: row;
        font-size:18px;
    }

    .icon {
        display:flex !important;
        flex-direction: column;
        justify-content:space-around;
        font-size:16px !important;
        margin-right:5px;
    }

    .header-block.title {
        padding-left:15%;
        padding-right:15%;
    }
}

@media screen and (min-width:1136.8px){
    .container {
        padding-left:12.5%;
        padding-right:12.5%;
    }

    .tab-bar {
        height:44px;
    }

    .tab-bar > div {
        padding-top:0;
        flex-direction: row;
        font-size:18px;
    }

    .icon {
        display:flex !important;
        flex-direction: column;
        justify-content:space-around;
        font-size:18px !important;
        margin-right:5px;
    }

    .header-block.title {
        padding-left:15%;
        padding-right:15%;
    }
}